---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "scss/settings";
@import "scss/foundation";
@import "scss/font-awesome";

//$primary-color: #9C27B0;
//$grid-row-width: 60rem;
//$topbar-background: lighten($primary-color, 20%);
@include foundation-everything;

$footer-color: $primary-color;

@import "scss/footer";


.top-bar {
  a {
    color:#fff;
  }
}


/**
<span class="fa-stack fa-5x logo">
  <i class="fa fa-transgender-alt fa-stack-2x"></i>
  <i class="fa fa-circle fa-stack-1x"></i>
  <i class="fa fa-heartbeat fa-inverse fa-stack-1x"></i>
</span>
.fa-stack.logo {
  color: $primary-color;
  .fa-transgender-alt:before {
    margin-left: 0.035em;
  }
  .fa-circle {
    font-size: 1.34em;
  }
}
 */

h1 {
  img.logo {
    height: 1.67em;
  }
}

.top-bar {
  a.logo {
    padding: 0;
    img {
      height: 2.4em;
    }
  }
}

.site-logo {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  color: $primary-color;
  i {
  display: inline-block;
    @extend .fa, .fa-fw;
    @extend .fa-transgender-alt;
    position: absolute;
    font-size: 2em;
    + i {
      @extend .fa-circle;
      font-size: 1.4em;
      margin-left: 0.22em;
      margin-top: 0.16em;
        + i {
        @extend .fa-heartbeat, .fa-inverse;
        font-size: 1em;
        margin-left: 0.56em;
        margin-top: 0.5em;
      }
    }
  }
  & + span {
    margin-left: 2em;
  }
}


.heroine {
  background-size: cover;
  background-position: 50% 50%;
  font-size: 1.33em;
  &.frontpage {
    background-image: url('https://placekitten.com/1280/800');
    padding: 3em 0;
    color: #fff;
    margin-bottom: 1em;
  }
  &.construction {
    background-image: url('https://c2.staticflickr.com/6/5523/14511581936_d9e0115d38_b.jpg');
    color: #fff;
    min-height: 100%;
    @media #{$large-up} {
      padding-top: 10%;
    }
    font-size: 1rem;
    .content {
      background-color: rgba(0,0,0,0.6);
      padding-top: 1.25em;
      @media #{$large-up} {
        border-radius: 0.5em;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
    abbr {
      color: #fff;
    }
    h1 + p {
      font-size: 1.33em;
    }
  }
}
